@(planeForm: Form[Plane])

@import helper._
@import helper.twitterBootstrap._
@import play.i18n._

@main(Messages.get("views.planes.new.title")) {

    @if(flash.containsKey("error")) {
        <div class="alert alert-error">
            @flash.get("error")
        </div>
    }
    
    <h2>@Messages.get("views.planes.new.subtitle")</h2>
    
    @form(routes.Planes.create) {
        
        @inputText(planeForm("matriculation"), '_label -> Messages.get("views.planes.matriculation"))
        @inputText(planeForm("price"),         '_label -> Messages.get("views.planes.price"))
        @inputText(planeForm("weekReduction"), '_label -> Messages.get("views.planes.weekReduction"))
        
        <input type="submit" value="@Messages.get("views.planes.new.submit")" class="btn">
        <a href="@routes.Planes.index" class="btn btn-link">@Messages.get("views.back")</a>
        
    }
}