@(planes: List[Plane])

@import helper._
@import helper.twitterBootstrap._
@import play.i18n._

@main(Messages.get("views.planes.index.title")) {
    
    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            @flash.get("success")
        </div>
    }

    @form(routes.Planes._new) {
        <input type="submit" value="@Messages.get("views.planes.index.add")" class="btn">
    }

    <h2>@Messages.get("views.planes.index.subtitle", planes.size.toString)</h2>
    
    <table class="table">
        <tr>
            <th>@Messages.get("views.planes.index.description")</th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    @for(plane <- planes) {
        <tr>
            <td>@plane</td>
            <td>
            @form(routes.Planes.show(plane.id)) {
                <input type="submit" value="@Messages.get("views.show")" class="btn btn-primary">
            }
            </td>
            <td>
            @form(routes.Planes.edit(plane.id)) {
                <input type="submit" value="@Messages.get("views.edit")" class="btn btn-primary">
            }
            </td>
            <td>
            @form(routes.Planes.delete(plane.id)) {
                <input type="submit" value="@Messages.get("views.delete")" class="btn btn-primary">
            }
            </td>
        </tr>
    }
    </table>

}