@(planes: List[Plane])

@import helper._
@import helper.twitterBootstrap._
@import play.i18n._

@main("Liste des avions") {
    
    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            @flash.get("success")
        </div>
    }

    @form(routes.Planes._new) {
        <input type="submit" value="Ajouter un nouvel avion" class="btn primary">
    }

    <h2>Liste des avions : @planes.size() avion(s)</h2>
    
    <table class="table">
        <tr>
            <th>Descriptif</th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    @for(plane <- planes) {
        <tr>
            <td>@plane</td>
            <td>
            @form(routes.Planes.show(plane.id)) {
                <input type="submit" value="Afficher" class="btn primary">
            }
            </td>
            <td>
            @form(routes.Planes.edit(plane.id)) {
                <input type="submit" value="Modifier" class="btn primary">
            }
            </td>
            <td>
            @form(routes.Planes.delete(plane.id)) {
                <input type="submit" value="Supprimer" class="btn primary">
            }
            </td>
        </tr>
    }
    </table>

}