@(planes: com.avaje.ebean.Page[Plane])

@import helper._
@import helper.twitterBootstrap._
@import play.i18n._
@import models.Plane._

@*************************************
* Helper generating navigation links *
*************************************@

@getPageSize = @{
    val queryString = request.queryString
    if(queryString.containsKey("pageSize")) {
        queryString.get("pageSize")(0).toInt.asInstanceOf[Int]
    }
    else {
        DEFAULT_PAGE_SIZE.asInstanceOf[Int]
    }
}

@main(Messages.get("views.planes.index.title")) {
    
    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            @flash.get("success")
        </div>
    }

    @form(routes.Planes._new) {
        <input type="submit" value="@Messages.get("views.planes.index.add")" class="btn">
    }

    <h2>@Messages.get("views.planes.index.subtitle", planes.getTotalRowCount.toString)</h2>

    <div class="pagination pagination-centered">
        <ul>
            @planes.hasPrev match {
                case true => {
                    <li><a href="@routes.Planes.index(planes.getPageIndex - 1, getPageSize)">&larr; @Messages.get("views.previous")</a></li>
                }
                case false => {
                    <li class="disabled"><a href="#">&larr; @Messages.get("views.previous")</a></li>
                }
            }
            @for(page <- 0 to planes.getTotalPageCount - 1) {
                <li @if(planes.getPageIndex == page) { class="active" } ><a href="@routes.Planes.index(page, getPageSize)">@(page + 1)</a></li>
            }
            @planes.hasNext match {
                case true => {
                    <li><a href="@routes.Planes.index(planes.getPageIndex + 1, getPageSize)">@Messages.get("views.next") &rarr;</a></li>
                }
                case false => {
                    <li class="disabled"><a href="#">@Messages.get("views.next") &rarr;</a></li>
                }
            }
        </ul>
    </div>
    
    <table class="table">
        <tr>
            <th>@Messages.get("views.planes.index.description")</th>
             <td colspan="3">    
                <div class="btn-group pull-right">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        @Messages.get("views.nbPerPages")
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pagination-centered">
                        @for(value: Int <- Array(10, 25, 50, 100)) {
                            <li><a href="@routes.Planes.index(0, value)">@if(getPageSize == value) { <i class="icon-ok"></i> } @value</a></li>
                        }
                    </ul>
                </div>
            </td>
        </tr>
    @for(plane <- planes.getList) {
        <tr>
            <td>@plane</td>
            <td>
            @form(routes.Planes.show(plane.id)) {
                <input type="submit" value="@Messages.get("views.show")" class="btn btn-primary">
            }
            </td>
            <td>
            @form(routes.Planes.edit(plane.id)) {
                <input type="submit" value="@Messages.get("views.edit")" class="btn btn-primary">
            }
            </td>
            <td>
            @form(routes.Planes.delete(plane.id)) {
                <input type="submit" value="@Messages.get("views.delete")" class="btn btn-primary">
            }
            </td>
        </tr>
    }
    </table>

}