@(plane: Plane)

@import helper._
@import helper.twitterBootstrap._
@import play.i18n._

@main(Messages.get("views.planes.show.title")) {
    	
    <h2>@Messages.get("views.planes.show.subtitle", plane.id.toString)</h2>
    
    <b>@plane</b>
    <br />
	<b>@Messages.get("views.planes.matriculation") :</b> @plane.matriculation   
    <br />
    <b>@Messages.get("views.planes.price") :</b> @plane.price
	<br />
    <b>@Messages.get("views.planes.weekReduction") :</b> @plane.weekReduction
    <br />
    <b>@Messages.get("views.planetype.planetype") :</b> @plane.planetype
    <br />
    <b>@Messages.get("views.planes.show.flights") : </b>
    @if(plane.flights.size == 0) {
    	@Messages.get("views.none")
    }
    <ul>
    @for(flight <- plane.flights) {
    	<li> @flight </li>
    }
    </ul>
    <a href="@request.getHeader("Referer")" class="btn btn-link">@Messages.get("views.back")</a>

}