@(flightForm: Form[Flight])

@import helper._
@import helper.twitterBootstrap._
@import play.i18n._

@main(Messages.get("views.flights.new.title")) {

    @if(flash.containsKey("error")) {
        <div class="alert alert-error">
            @flash.get("error")
        </div>
    }
    
    <h2>@Messages.get("views.flights.new.subtitle")</h2>
    
    @form(routes.Flights.create) {
        
        @inputDate(flightForm("date"),                          '_label -> Messages.get("views.flights.date"))
        @inputText(flightForm("duration"),                      '_label -> Messages.get("views.flights.duration"))
        @inputText(flightForm("flightReduction"),               '_label -> Messages.get("views.flights.flightReduction"))
        @inputText(flightForm("weekReduction"),                 '_label -> Messages.get("views.flights.weekReduction"))
        @inputText(flightForm("specialPrice"),                  '_label -> Messages.get("views.flights.specialPrice"))
        @select(flightForm("plane.id"), options(Plane.options), '_label -> Messages.get("views.flights.plane"))
        @checkbox(flightForm("initiationFee"),                  '_label -> Messages.get("views.flights.initiationFee"))
        
        <input type="submit" value="@Messages.get("views.flights.new.submit")" class="btn">
        <a href="@routes.Flights.index()" class="btn btn-link">@Messages.get("views.back")</a>

    }
}