@(flights: List[Flight])

@import helper._
@import helper.twitterBootstrap._
@import play.i18n._

@main("Liste des séquences de vol") {
    
    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            @flash.get("success")
        </div>
    }

    @form(routes.Flights._new) {
        <input type="submit" value="Ajouter un nouveau vol" class="btn primary">
    }

    <h2>Liste des vols : @flights.size() vols(s)</h2>
    
    <table class="table">
        <tr>
            <th>Descriptif</th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    @for(flight <- flights) {
        <tr>
            <td>@flight</td>
            <td>
            @form(routes.Flights.show(flight.id)) {
                <input type="submit" value="Afficher" class="btn primary">
            }
            </td>
            <td>
            @form(routes.Flights.edit(flight.id)) {
                <input type="submit" value="Modifier" class="btn primary">
            }
            </td>
            <td>
            @form(routes.Flights.delete(flight.id)) {
                <input type="submit" value="Supprimer" class="btn primary">
            }
            </td>
        </tr>
    }
    </table>

}