@(flights: com.avaje.ebean.Page[Flight])

@import helper._
@import helper.twitterBootstrap._
@import play.i18n._

@getPageSize = @{
    val queryString = request.queryString
    if(queryString.containsKey("pageSize")) {
        queryString.get("pageSize")(0).toInt.asInstanceOf[Int]
    }
    else {
        10.asInstanceOf[Int]
    }
}

@main(Messages.get("views.flights.index.title")) {
    
    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @flash.get("success")
        </div>
    }

    @form(routes.Flights._new) {
        <input type="submit" value="@Messages.get("views.flights.index.add")" class="btn">
    }

    <h2>@Messages.get("views.flights.index.subtitle", flights.getTotalRowCount.toString)</h2>

    @pagination(flights, routes.Flights.index _)

    <table class="table table-striped">
        <tr>
            <th>@Messages.get("views.flights.index.description")</th>
            <td colspan="3">    
                <div class="btn-group pull-right">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        @Messages.get("views.nbPerPages")
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pagination-centered">
                        @for(value: Int <- Array(10, 25, 50, 100)) {
                            <li><a href="@routes.Flights.index(0, value)">@if(getPageSize == value) { <i class="icon-ok"></i> } @value</a></li>
                        }
                    </ul>
                </div>
            </td>
        </tr>
    @for(flight <- flights.getList) {
        <tr>
            <td>@flight</td>
            <td>
            @form(routes.Flights.show(flight.id)) {
                <input type="submit" value="@Messages.get("views.show")" class="btn btn-primary">
            }
            </td>
            <td>
            @form(routes.Flights.edit(flight.id)) {
                <input type="submit" value="@Messages.get("views.edit")" class="btn btn-primary">
            }
            </td>
            <td>
            @form(routes.Flights.delete(flight.id)) {
                <input type="submit" value="@Messages.get("views.delete")" class="btn btn-primary">
            }
            </td>
        </tr>
    }
    </table>

}