@(flights: com.avaje.ebean.Page[Flight])

@import helper._
@import helper.twitterBootstrap._
@import play.i18n._

@main(Messages.get("views.flights.index.title")) {
    
    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            @flash.get("success")
        </div>
    }

    @form(routes.Flights._new) {
        <input type="submit" value="@Messages.get("views.flights.index.add")" class="btn">
    }

    <h2>@Messages.get("views.flights.index.subtitle", flights.getTotalRowCount.toString)</h2>
    
    <div class="pagination pagination-centered">
        <ul>
            @flights.hasPrev match {
                case true => {
                    <li><a href="@routes.Flights.index(flights.getPageIndex - 1)">&larr; @Messages.get("views.previous")</a></li>
                }
                case false => {
                    <li class="disabled"><a href="#">&larr; @Messages.get("views.previous")</a></li>
                }
            }
            @for(page <- 0 to flights.getTotalPageCount - 1) {
                <li @if(flights.getPageIndex == page) { class="active" } ><a href="@routes.Flights.index(page)">@(page + 1)</a></li>
            }
            @flights.hasNext match {
                case true => {
                    <li><a href="@routes.Flights.index(flights.getPageIndex + 1)">@Messages.get("views.next") &rarr;</a></li>
                }
                case false => {
                    <li class="disabled"><a href="#">@Messages.get("views.next") &rarr;</a></li>
                }
            }
        </ul>
    </div>

    <table class="table">
        <tr>
            <th>@Messages.get("views.flights.index.description")</th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    @for(flight <- flights.getList) {
        <tr>
            <td>@flight</td>
            <td>
            @form(routes.Flights.show(flight.id)) {
                <input type="submit" value="@Messages.get("views.show")" class="btn btn-primary">
            }
            </td>
            <td>
            @form(routes.Flights.edit(flight.id)) {
                <input type="submit" value="@Messages.get("views.edit")" class="btn btn-primary">
            }
            </td>
            <td>
            @form(routes.Flights.delete(flight.id)) {
                <input type="submit" value="@Messages.get("views.delete")" class="btn btn-primary">
            }
            </td>
        </tr>
    }
    </table>

}