@(flight: Flight)

@import helper._
@import helper.twitterBootstrap._
@import play.i18n._

@main(Messages.get("views.flights.show.title")) {
    	
    <h2>@Messages.get("views.flights.show.subtitle", flight.id)</h2>
    
    <b>@flight</b>
    <br />
	<b>@Messages.get("views.flights.flightReduction") :</b> @flight.flightReduction
	<br />
    <b>@Messages.get("views.flights.weekReduction") :</b> @flight.weekReduction
    <br />
    <b>@Messages.get("views.flights.specialPrice") :</b> @flight.specialPrice
    <br />
    <b>@Messages.get("views.flights.show.plane") :</b> @flight.plane
    <br />
    @if(flight.initiationFee) {
        <i>@Messages.get("views.flights.initiationFee")</i>
    }
    <a href="@routes.Flights.index()" class="btn btn-link">@Messages.get("views.back")</a>

}