@(flight: Flight)

@import helper._
@import helper.twitterBootstrap._
@import play.i18n._

@main("Détail d'une séquence de vol") {
    	
    <h2>Détail de la séquence de vol n°@flight.id</h2>
    
    <b>@flight</b>
    <br />
	<b>Réduction vol :</b> @flight.flightReduction
	<br />
    <b>Réduction semaine :</b> @flight.weekReduction
    <br />
    <b>Prix spécial :</b> @flight.specialPrice
    <br />
    <b>Avion utilisé :</b> @flight.plane
    <br />
    @if(flight.initiationFee) {
        <i>Forfait initiation</i>
    }

}