@(userForm: Form[User])

@import helper._
@import helper.twitterBootstrap._
@import play.i18n._

@main(Messages.get("views.users.edit.title")) {

    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @flash.get("success")
        </div>
    }
    
    @if(flash.containsKey("error")) {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @flash.get("error")
        </div>
    }
    
    <h2>@Messages.get("views.users.edit.subtitle")</h2>
    
    @form(routes.Users.update) {   
        
        @inputText(userForm("email"),        '_label -> Messages.get("views.users.email"))
        @inputPassword(userForm("password"), '_label -> Messages.get("views.users.password"))
        
        <input type="submit" value="@Messages.get("views.users.edit.submit")" class="btn">
        <a href="@request.getHeader("Referer")" class="btn btn-link">@Messages.get("views.back")</a>

    }
}