@(flights: List[Flight], flightForm: Form[Flight])

@import helper._

@main("Séquences de vol") {
    
    <h2>Liste des vols : @flights.size() vols(s)</h2>
    
    <ul>
        @for(flight <- flights) {
            <li>
                Vol n°@flight.id

                @form(routes.Flights.read(flight.id)) {
                    <input type="submit" value="Modifier">
                }

                @form(routes.Flights.delete(flight.id)) {
                    <input type="submit" value="Supprimer">
                }
            </li>
        }
    </ul>
    
    <h2>Saisie d'une séquence de vol</h2>
    
    @form(routes.Flights.create()) {
        
        @inputText(flightForm("date"))
        @inputText(flightForm("duration"))
        @inputText(flightForm("flightReduction"))
        @inputText(flightForm("weekReduction"))
        @inputText(flightForm("specialPrice"))
        @checkbox(flightForm("initiationFee"))
        
        <input type="submit" value="Valider l'enregistrement">
        
    }
}