@(loginForm: Form[Application.Login])

@import helper._
@import helper.twitterBootstrap._
@import play.i18n._

@main(Messages.get("views.index.title")) {
    
    <h2>@Messages.get("views.index.welcome.message")</h2>

	@if(flash.containsKey("error")) {
        <div class="alert alert-error">
            @flash.get("error")
        </div>
    }
    
    <h4>@Messages.get("views.index.connection")</h4>
    
    @form(routes.Application.login) {
        
        @inputText(loginForm("username"),     '_label -> Messages.get("views.index.username"))
        @inputPassword(loginForm("password"), '_label -> Messages.get("views.index.password"))
        
        <input type="submit" value="@Messages.get("views.index.connect.me")" class="btn primary">
        
    }
}