@(loginForm: Form[Application.Login])

@import helper._
@import helper.twitterBootstrap._
@import play.i18n._

@main(Messages.get("views.index.title")) {
    
    <div style="text-align:center">
	    <img src="@routes.Assets.at("/images/logo.png")" />

	    <h2>@Messages.get("views.index.welcome.message")</h2>

	    @if(flash.containsKey("success")) {
	        <div class="alert alert-success">
	            <button type="button" class="close" data-dismiss="alert">&times;</button>
	            @flash.get("success")
	        </div>
	    }
	    
	    @if(!session.contains("user")) {
	    
		    <div id="message"></div>

		    @form(routes.Application.authenticate, 'id -> "login") {
		        
		        @inputText(loginForm("username"),     '_label -> Messages.get("views.index.username"))
		        @inputPassword(loginForm("password"), '_label -> Messages.get("views.index.password"))
		        
		        <input type="submit" value="@Messages.get("views.index.connect.me")" class="btn">
		        <br />
		        <br />
		        <a href="@routes.Users._new" class="btn btn-inverse">@Messages.get("views.index.create.account")</a>
		    }
	    }
	</div>
}