@(loginForm: Form[Application.Login])

@import helper._
@import helper.twitterBootstrap._
@import play.i18n._

@main(Messages.get("views.login.title")) {
    
    <h2>@Messages.get("views.login.subtitle")</h2>

    @if(loginForm.hasGlobalErrors) {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @loginForm.globalError.message
        </div>
    }

    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @flash.get("success")
        </div>
    }
    
    @form(routes.Application.authenticate) {
        
        @inputText(loginForm("username"),     '_label -> Messages.get("views.login.username"))
        @inputPassword(loginForm("password"), '_label -> Messages.get("views.login.password"))
        
        <input type="submit" value="@Messages.get("views.login.connect.me")" class="btn primary">
        
    }
}